<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
      <p>
        Copyright &copy; 
        {% if site.author -%}
          {{ site.author | escape }},
        {%- else -%}
          {{ site.title | escape }},
        {%- endif %}
        {{ site.time | date: "%Y" }}<br/>
        Page last rebuilt {{ site.time | date: site.minima.date_format }}
      <br/>
        {%- include social.html -%}
      </p>

  </div>

</footer>
